//#map-page, #map-canvas { width: 100%; height: 100%; padding: 0; }
.third-page{
	.detail-tickets{
		padding: 20px;
		background: url('../img/resources/onda_vaga.jpg');
		width: 100%;
		height: 38%;
		background-repeat: no-repeat;
		background-size: cover;
		position: relative;
	}
}
